{% extends 'base.html' %}

{% load url from future %}

{% block conteudo %}

<div id="body-titulo">
	<h2>{{ titulo_tela }}</h2>
</div>

<div id="body-form" >

	{% if not status and arquivo_nome %}
	<fieldset class="fborder" style="padding: 5px!important; width: 683px!important; float: none" >
			<ul class="mensagem msg_erro">
			     As relações no arquivo abaixo não foram importados.
			</ul> 
			<img src='/static/imagem/csv_erro.png'  height="20px;">&nbsp;
			<a href='/media/tmp/importacao_tel_lojas.csv'>Baixar Arquivo</a> 
	</fieldset>
	{% endif %}
	
	<form class="vForm" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="fborder" style="padding: 25px!important; text-align: center; float: none">

			<p class="header_fast_menu">
				<b>Seleção do Arquivo</b>
			</p>
			<p class="help_text_back">
				Para executar a importação de relações, escolha um arquivo .csv que contenha os dados
				das relações entre televisores e suas lojas. Esse dados serão atualizados na base de dados.<br/>
				O delimitador do csv deve ser um pipe (|).
			</p>

			<fieldset class="fborder" style="padding: 5px!important; width: 370px!important; margin-left: 20%" >
				<img src='/static/imagem/csv.png' height="50px;" style="float:left">
				<label style="padding: 5px!important;" > Arquivo:
					<input type="file" name="arquivo"/>
				</label>
			</fieldset>
			
		</fieldset>

			<fieldset class="fborder " style="float: none" >
			      <input type="submit" name="acao" value="Importar" class='botao' style="margin: 10px" />
			</fieldset>
	</form>
</div>

{% endblock %}
