{% extends 'base_login.html' %}
	{% load url from future %}
{% block conteudo %}
<div class="centeralizado">
	<form method='POST' id="form_login">
		{% csrf_token %}
		<fieldset class="centeralizado fieldset_off">
			<table class="centeralizado">
				<tr>
					<th><img src="{{STATIC_PREFIX}}imagem/user.png"  title="Usuário"
					height="25px" align="absmiddle" id='id_login_img'/> {{ form.username}}{{ form.username.errors}} </th>
				</tr>
				<tr>
					<th><img src="{{STATIC_PREFIX}}imagem/key.png"  title="Senha"
					height="25px"  align="absmiddle" id='id_password_img'/> {{ form.password}}{{ form.password.errors}} </th>
				</tr>
				<tr>
					<th><a id='link_esqueci_senha' href="{% url 'usuario.recuperar_senha' %}">Esqueci a senha</a></th>
				</tr>
			</table>
		</fieldset>

		<fieldset class="centeralizado fieldset_off" style="width: 370px; text-align: center">
			<table class="centeralizado">
				<tr>
					<td colspan="2">{% include CAPTCHA_PATH_BODY %}</td>
				</tr>
				<tr>
					<td colspan="2" style="margin-bottom: 30px;">
					<p>
						<input type='submit' id="entrar" class='login_button' value='Login' class="ui-button ui-widget ui-state-default" />
						<input type='hidden' name='next' value='{{next}}'/>
					</p></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>

{% endblock %}