{% load url from future %}
<style>
	.header {
		background: #4682B4;
		color: white;
		vertical-align: middle;
		margin: 0px;
	}
	.menu {
		border: 1px solid #4682B4;
	}
</style>

<script>
	$(function() {
		$("#menu_h").menu();
	}); 
</script>
<div class="menu">

	<h3 class='header' style="text-align: center; width: 100%; height: 20px;">Menu</h3>

	<ul id="menu_h">
		<li>
			<a href="#">Gerenciamento</a>
			<ul>
				<li>
					<a href="{% url 'usuario.listagem' %}">Perfil de usuário</a>
				</li>
				<li>
					<a href="">Exportação de dados</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Cadastros</a>
			<ul>
				<li>
					<a href="#">Cadastros Auxiliares</a>
					<ul>
						<li>
							<a href="{% url 'tipos_tela.listagem' %}">Tipo de Tela</a>
						</li>
						<li>
							<a href="{% url 'funcao.listagem' %}">Funções</a>
						</li>
						<li>
							<a href="{% url 'modo_pref.listagem' %}">Modo preferencial de imagem</a>
						</li>
						<li>
							<a href="{% url 'item.listagem' %}">Itens inclusos</a>
						</li>
						<li>
							<a href="{% url 'entrada.listagem' %}">Entrada</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">Componentes Visuais</a>
				</li>
				<li>
					<a href="">Televisores</a>
				</li>
			</ul>
		</li>

	</ul>
</div>
