<style>
    table.rodape{ font-size: small; }
    table.rodape a{ text-decoration: none; color: #AB5603; }
    table.rodape td{ text-align: center; }
    
</style>
<script>

</script>

<table cellpadding="2" cellspacing="2" class='rodape' style="float: left">
	<tr>
		<td style='border-right: 1px solid #A2B5CD; padding-left: 4px;'>
			 <p class="left">
                 <img height="30" alt="Python" src="{{STATIC_PREFIX}}imagem/python_logo.png"> <br>
			 	Powered by <a href="http://www.python.org/">Python</a>. <br>
			 </p>
        </td>
		<td style='border-right: 1px solid #A2B5CD; padding-left: 4px;'>
			 <p class="left">
                 <img height="30" alt="Django" src="{{STATIC_PREFIX}}imagem/django-logo.png"> <br>
			 	Powered by <a href="https://www.djangoproject.com/">Django</a>. 
			 </p>
        </td>
		<td>
			 <p class="left">
                 <img height="30" alt="GIT" src="{{STATIC_PREFIX}}imagem/git_logo.png"> <br>
			 </p>
	   </td>
		<td>
			 <p class="left">
			 	This open sourced site is <a href="https://github.com/github/gitscm-next">hosted on GitHub.</a> <br>
                Patches, suggestions, and comments are welcome.
			 </p>
	   </td>
	</tr>
</table>



<table cellpadding="2" cellspacing="2" class='rodape' style="float: right">
	<tr>
		<td>
			 <p class="left">Melhor com</p>
        </td>
		<td>
			   <img height="30" title="Chrome"  src="{{STATIC_PREFIX}}imagem/chrome.png"> 
			   <img height="30" title="Firefox" src="{{STATIC_PREFIX}}imagem/firefox.png"> 
			   <img height="30" title="Safari"  src="{{STATIC_PREFIX}}imagem/safari.png"> 
	     </td>
	</tr>
</table>

