<style>
	#footer {
		width: 100%;
		height: 123px;
		background: #292929;
		bootom: 0px;
		float: left;
	}
	#nav-footer {
		height: 58px;
		margin: 2px auto;
		width: 100%;
	}
	#nav-footer li {
		float: left;
	}
	#nav-footer li a {
		color: #FFF;
	}
	#open {
		margin-top: 0px;
	}
	#python, #django {
		float: left;
		text-indent: -5500px;
		margin-top: 10px;
		color: white !important;
	}
	#python {
		background: url("/static/imagem/logo_python_white.png") repeat scroll 0 0 transparent;
		height: 31px;
		width: 132px;
		margin-right: 20px;
	}
	#django {
		background: url("/static/imagem/logo_django_white.png") repeat scroll 0 0 transparent;
		height: 32px;
		width: 92px;
	}

	.field-footer {
		width: 360px;
		padding: 5px;
		margin: 2px 5px;
	}
	.list-footer {
		width: 500px;
	}
	.item-list-footer {
		margin: 0 20px;
		float: left;
		font: 14px Arial, Helvetica, sans-serif;
		text-decoration: none;
	}
	.list-footer {
		list-style: none;
		float: left;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
</style>
<footer>

	<div id="footer">
		<div class="page-wrapper">
			<nav>
				<div id="nav-footer">
					<ul class="list-footer">
						<li>
							<p class="" style="margin-left: auto; margin-right: auto;">
								Melhor com
							</p>
						</li>
						<li>
							<ul class="list-footer">
								<li><img height="30" title="Chrome"  src="{{STATIC_PREFIX}}imagem/chrome.png"  class="item-list-footer" >
								</li>
								<li><img height="30" title="Firefox" src="{{STATIC_PREFIX}}imagem/firefox.png" class="item-list-footer" >
								</li>
								<li><img height="30" title="Safari"  src="{{STATIC_PREFIX}}imagem/safari.png"  class="item-list-footer" >
								</li>
							</ul>
						</li>
					</ul>
					<ul class="list-footer"  style="float:left">
						<li>
							<p class="" style="margin-left: auto; margin-right: auto;">
								Desenvolvido com ferramentas open source
							</p>
						</li>
						<li>
							<ul class="list-footer">
								<li>
									<a href="#" title="Python" id="python" class="item-list-footer">Python</a>
								</li>
								<li>
									<a href="#" title="Django" id="django" class="item-list-footer">Django</a>
								</li>
								<li>
									<img src="/static/imagem/CSS3_Logo.png" height="50" class="item-list-footer" >
								</li>
								<li>
									<img src="/static/imagem/HTML5_Logo.png" height="50" class="item-list-footer">
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>

	</div>

</footer>

