<table style="width: 100%; height:150px; padding: 10px; margin-left: auto; margin-right: auto">
	<tr>
		<td width="30%" style="text-align: right">
			<img src="{{STATIC_PREFIX}}imagem/logo3.png"  height="120px" />
		</td>
		<td width="35%">
			<h1 style="text-align: center; margin-top: 0px; color: #35414F"> Sistema Administrador</h1>
		</td>
		<td width="3%">
			<img src="/static/img/users.png" width="20px"/>
		</td>
		<td width="32%">
		<p>
			Bem vindo,&nbsp;<b>{{ USER_NAME }}</b>
            <br>
			{% if USER_SUPER %}
			   Perfil: <b>Super Usuário</b>
			{% else %}
			   Perfil: <b>Administrador</b>
			{% endif %}
			<br>
			Email: <b>{{ USER_EMAIL }}</b>
			<br>
			Último login: <b>{{ USER_LAST_LOGIN }}</b>
		</p>
		</td>
	</tr>
</table>
