.carousel{
	width: 390px;
	height:200px;
	float:left;
	overflow:hidden;
	padding: 5px;
}
.carousel_box{
	border: 1px solid #CDCDC1;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.carr{
	 position: relative;
	
}

.link-box-offer{
	text-decoration:none;
}
.item-carousel{
	width:100px;
	height:160px;
	float:left;
	padding: 15px;
}
.txt-box-offer{
	font: 14px Arial, Helvetica, sans-serif;
	text-align:center;
	/*display: block;*/
    height: 35px;
    overflow: hidden;
    width: 100%;
}
.next-box, .prev-box{
	width:22px;
	height:200px;
	float:left;
	margin: 0 10px;
}
.prev, .next{
	background:url('../img/arrow.png');
	display: block;
    float: left;
    height: 29px;
    width: 21px;
    position:relative;
    top:85px;	
}
.prev{
	background-position:0 0;
}
.next{
	background-position:21px 0;
}
.carousel_header{
	overflow:hidden;
	margin-top: 0px!important;
	/*color: #363636;    */
	color:white;
	padding-top: 5px;
    background: url(../img/bg-texture-action-area-panels.png) gray;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}