<!DOCTYPE html>
<html>
	{% load url from future %}
	{% load static %}
	{% get_static_prefix as STATIC_PREFIX %}
	<head>
		<title>Sistema Administrador No Alvo</title>

		<script src="{{STATIC_PREFIX}}js/jquery.js"></script>
		<script src="{{STATIC_PREFIX}}js/jquery.tpl_layout1.1.6.min.js" type="text/javascript"></script>
		
		<link type="text/css" rel='stylesheet' href="{{STATIC_PREFIX}}css/style.css"/>
		<link type="text/css" rel="stylesheet" href="{{STATIC_PREFIX}}css/listagem.css"/>
		<link type="text/css" rel="stylesheet" href="{{STATIC_PREFIX}}css/botoes.css"/>
		
		<!-- TEMAS -->
		<link type="text/css" rel="stylesheet" href="{{STATIC_PREFIX}}css/flat_sniker/jquery-ui-1.10.3.custom.min.css"/>
        
		<script src="{{STATIC_PREFIX}}js/ui/jquery-ui-1.9.1.custom.js" type="text/javascript"></script>
		<script src="{{STATIC_PREFIX}}js/ui/jquery.ui.core.js"         type="text/javascript"></script>
		<script src="{{STATIC_PREFIX}}js/ui/jquery.ui.widget.js"       type="text/javascript"></script>

		<!-- jquery_alerts -->
		<script src="{{STATIC_PREFIX}}jquery_alerts/js/jquery.alerts.js" type="text/javascript"></script>
		<link href="{{STATIC_PREFIX}}jquery_alerts/css/jquery.alerts.css" rel="stylesheet" type="text/css" />
		
        <!-- jNotify -->
        <link   href="{{STATIC_PREFIX}}jNotify/css/jNotify.jquery.css" type="text/css" rel="stylesheet"/>
        <script src ="{{STATIC_PREFIX}}jNotify/js/jNotify.jquery.js"   type="text/javascript"></script>
                
        <!-- Toastmessage -->
        <link   href="{{STATIC_PREFIX}}toastmessage/css/jquery.toastmessage.css" type="text/css" rel="stylesheet"/>
        <script src ="{{STATIC_PREFIX}}toastmessage/js/jquery.toastmessage.js"   type="text/javascript"></script>
        
        <!-- Instalação de botões -->
		<script>
		$(function() {
			// Tranforma todos os botões em botões do JQuery UI
			$("input[type=submit], button, .link_btn,th, .aButtons > button, .button").button();
			// Todos os botões de excluir, apresentando uma mini confirmação antes
	        $('.ui-icon-trash').addClass("ask");
		});
		</script>

		{% block css_custom %}
		{% endblock %}

		{% block js_custom %}
		{% endblock %}

	</head>

	<body>
        {% block aereo %}
        {% endblock %}
		<div id="tudo">
			<header id="topo">
				{% include "portal/topo.html" %}
			</header>
 
			<nav id="menu" >
				{% include "portal/menu.html" %}
			</nav>

			<div id="principal">
				{% include "alerts_messages/messages.html" %}
				{% block conteudo %}
				{% endblock %}
			</div>

			<footer id="rodape">
				{% include "portal/rodape.html" %}
			</footer>
		</div>
		<!-- fim div#tudo -->

	</body>
	<style>
		#topo {
			z-index: 0;
			margin: 0px;
			width: 99%;
			margin-left: auto;
			margin-right: auto;
		}
		#menu {
			height: 42px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			width: 700px;
			float:left;
		}
		#principal {
			position  : c;
			height    : auto;
			min-height: 400px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			width: 700px
		}
		#rodape {
		}

	</style>
</html>
