{% extends 'portal/base_portal.html' %}

{% load url from future %}

{% block js_custom %}
<script>
	$(function() {
	}); 
</script>
{% endblock %}

{% block conteudo %}

<div class="conteudo" style="margin-left: auto; margin-right: auto; width: 100%">
	<!-- Rotativos-->

	<style>
		#carrossel1, #carrossel2, #carrossel3, #carrossel_rec {
			float: left;
			margin-left: 30px;
			margin-bottom: 10px;
			background: whitesmoke;
		}
		#carrossel_rec .carousel {
			width: 905px;
			margin-top: 10px;
		}
	</style>

	<table class="rotativos"   style="margin-left: auto; margin-right: auto;">
		<tr>
			<td> {% include "portal/banners/recomendados.html" %} </td>
		</tr>
		<tr>
			<td>
			<div class="banner_filtragem with_borders" style="margin-left: 30px; width: 905px; height:200px;">
				aqui vem um banner
			</div></td>
		</tr>

		<tr>
			<td>
			<div class="rotativos" style="margin-left: auto; margin-right: auto">
				{#% include "portal/banners/principais_televisores.html" %#}
				{#% include "portal/banners/principais_marcas.html" %#}
				{#% include "portal/banners/principais_lojas.html" %#}
			</div></td>
		</tr>
	</table>

</div>

{% endblock %}
