
<footer>
	
	<div id="footer">
		<div class="page-wrapper">
			<nav>
				<div id="nav-footer">				
					<ul class="list-footer">
						<li><a href="#" class="item-list-footer" title="Inicio"> Inicio </a></li>
						<li><a href="#" class="item-list-footer" title="Recomendacao"> Recomendacao </a></li>
						<li><a href="#" class="item-list-footer" title="Fale Conosco"> Fale Conosco </a></li>
					</ul>
				</div>
			</nav>
			<div id="open">
				<p>Desenvolvido com ferramentas open source</p>
				<a href="#" title="Python" id="python">Python</a>
				<a href="#" title="Django" id="django">Django</a>
			</div>
			<div id="login">
				<ul class="list-footer">
						<li>
							<p style="color: white">
								Melhor com
							</p>
						</li>
						<li>
							<ul class="list-footer">
								<li><img height="30" title="Chrome"  src="{{STATIC_PREFIX}}imagem/chrome.png"  class="item-list-footer" >
								</li>
								<li><img height="30" title="Firefox" src="{{STATIC_PREFIX}}imagem/firefox.png" class="item-list-footer" >
								</li>
								<li><img height="30" title="Safari"  src="{{STATIC_PREFIX}}imagem/safari.png"  class="item-list-footer" >
								</li>
							</ul>
						</li>
					</ul>
			</div>
		</div>
		<p id="copy">&copy; Todos os direitos reservados - 2013 - TCC grupo Teta Faeng -FSA <br />
			<a href="#" title="HTML5">HTML5</a> - <a href="#" title="CSS3">CSS3</a>
		</p>
	</div>
	
</footer>

