<div class="page-wrapper"  style="background: white; width: 100% text-align:center">
	<p id="top-login">
			{% if not ID_CLIENTE %}
			    Olá, Visitante, Ainda não é cadastrado: 
			    <a href="{% url clientes.cadastro %}">Clique aqui</a>
			{% else %}
			    Olá, {{ NM_CLIENTE }}. Seja Bem Vindo.
			{% endif %}

			{% if not ID_CLIENTE %}
			<span style="float:right; padding-right: 5px;">
				<a href="{% url clientes.login %}"> Entrar</a>
			</span>
			{% else %}
			<span style="float:right; padding-right: 5px;"> 
			<a href="{% url clientes.logout %}">Sair</a>
		   </span>
			{% endif %}
	</p>
</div>
<div id="top" >
		<div class="page-wrapper" id="header">
			<h1>
				<a href="/" title="No Alvo" class="logo">No alvo</a>
			</h1>
			{% include 'busca/busca_form.html' %}
		</div>
	</div>