<br/>
{% if page.has_other_pages %}
    Página:<select name='pagina' id='pag_select'>
	{% for i in paginator.page_range %}
      <option value='{{ i }}'>{{ i }}</option>
    {% endfor %}
    </select>
    <input type='button' value='Ir' id='btn_pag_select'/>
{% endif %}
<br/>


	{% for produto in page.object_list  %}
	<div class="item-vitrine-prod">
		<a> <span class="imagem"> {% if produto.imagem %} <img id='img' src='/media/{{ produto.imagem }}' width='80px'> {% else %} <img id='img' src='/static/imagem/sem_img.png' width='80px'> {% endif %} </span> <span class="infos-vitrine-prod">
			<p class="description-prod">
				{{ produto.nome }}
			</p>
			<p class="price-vitrine-prod">
				de R$ {{ produto.menor_preco }} até R$ {{ produto.maior_preco }}
			</p> <span class="nota"> Avaliação: <span id="comnts_rati_{{ produto.id }}"><!-- --></span> </span> </span> <span class="btn-ver-oferta">Comparar Preços</span> </a>
	</div>
	{% empty %}
	
	<div class="item-vitrine-prod">
		<a> <span class="no_results"> Nenhum televisor encontrado com os filtros selecionados. </span> </a>
	</div>
	{% endfor %}

	<script>
		$(function() {
			{% for produto in produtos %}
			setupRatyID("comnts_rati_{{ produto.id }}", parseInt("{{ produto.nota_media|default:0 }}"));
			{% endfor %}
		});
	</script>