{% extends "base.html" %}

{% load url from future %}

{% block conteudo %}

{% if css_custom %}
     {% for css in css_custom %}
         <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{{ css }}">
     {% endfor %}
{% endif %}

{% if js_custom %}
     {% for js in js_custom %}
         <script type="text/javascript" src="{{ STATIC_URL }}{{ js }}"></script>
     {% endfor %}
{% endif %}

{% if inclusao_html %}
     {% for template_name in inclusao_html %}
         {% include template_name %}
     {% endfor %}
{% endif %}


<center>
	<fieldset>
	    <p> Deseja mesmo excluir <b>{{ object }}</b>  nº<b>{{ object.id }}</b>? </p>
	    
	    <form method='post'>
	        <input type='hidden' value='{{ object.id }}' name='id'/>
	        <input class='link_btn' type='submit' value='Confirmar exclusão' />
            <a  class="link_btn" href='{% url listagem %}'>Voltar</a>
	    </form>
    </fieldset>
</center>
{% endblock %}
