<div class="filtros_container">
 	<fieldset class='filtro_header'>
 		<span class="filtro_title">Passo 1</span>
 		<span class="filtro_quest"> - Qual a distância entre o televisor e seu assento? </span>
 	</fieldset>
 	<fieldset class='filtro_choices'>
 		<label for='id_distancia'>Distância (em metros):</label>
 		<input type="text" value="" name='distancia' id='id_distancia'/>
 	</fieldset>
 	<fieldset>
 		<input type="submit" value="Avançar" />
 	</fieldset>
</div>

<div class="filtros_container">
 	<fieldset class='filtro_header'>
 		<span class="filtro_title">Passo 2</span>
 		<span class="filtro_quest"> - Quais os uso que você pretende para o televisor? </span>
 	</fieldset>
 	<fieldset class='filtro_choices'>
 		{% for uso in usos %}
 		<input type="checkbox" value="{{ uso.0 }}" />{{ uso.1 }}
 		{% endfor %}
 	</fieldset>
 	<fieldset>
 		<input type="submit" value="Avançar" />
 	</fieldset>
</div>
 

<div class="filtros_container">
 	<fieldset class='filtro_header'>
 		<span class="filtro_title">Passo 3</span>
 		<span class="filtro_quest"> - Quais os aparelhos que você pretende utilizar? </span>
 	</fieldset>
 	<fieldset class='filtro_choices'>
 		{% for aparelho in aparelhos %}
 		<input type="checkbox" value="{{ aparelho.0 }}" />{{ aparelho.1 }}
 		{% endfor %}
 	</fieldset>
 	<fieldset>
 		<input type="submit" value="Avançar" />
 	</fieldset>
</div>
 
<div class="filtros_container">
 	<fieldset class='filtro_header'>
 		<span class="filtro_title">Passo 4</span>
 		<span class="filtro_quest"> - Qual a faixa de preço desejada? </span>
 	</fieldset>
 	<fieldset class='filtro_choices'>
 		<label for='id_distancia'>de R$:</label>
 		<input type="text" value="" name='de' id='id_de'/>
 		<label for='id_distancia'>até R$:</label>
 		<input type="text" value="" name='ate' id='id_ate'/>
 	</fieldset>
 	<fieldset>
 		<input type="submit" value="Avançar" />
 	</fieldset>
</div>


<div class="filtros_container">
 	<fieldset class='filtro_header'>
 		<span class="filtro_title">Passo 5</span>
 		<span class="filtro_quest"> - Quais os tamanhos de tela que você prefere? </span>
 	</fieldset>
 	<fieldset class='filtro_choices'>
 		{% for tamanho in tamanhos %}
 		<input type="checkbox" value="{{ tamanho.0 }}" />{{ tamanho.1 }}
 		{% endfor %}
 	</fieldset>
 	<fieldset>
 		<input type="submit" value="Avançar" />
 	</fieldset>
</div>


<div class="filtros_container">
 	<fieldset class='filtro_header'>
 		<span class="filtro_title">Passo 6</span>
 		<span class="filtro_quest"> - Quais os tipo de tela que você prefere? </span>
 	</fieldset>
 	<fieldset class='filtro_choices'>
 		{% for tipo in tipos %}
 		<input type="checkbox" value="{{ tipo.id }}" />{{ tipo.descricao }}
 		<img src='/media/{{ tipo.imagem }}' id="foto_tipo{{ tipo.id }}" width='150px'>
 		<div id="expl_tipo{{ tipo.id }}">
 			 {{ tipo.explicacao }}
 		</div>
 		{% endfor %}
 	</fieldset>
 	<fieldset>
 		<input type="submit" value="Avançar" />
 	</fieldset>
</div>