<div class="filtros_container">
 	<fieldset class='filtro_header'>
 		<span class="filtro_title">Passo 4</span>
 		<span class="filtro_quest"> - Qual a faixa de preço desejada? </span>
 	</fieldset>
 	<fieldset class='filtro_choices'>
 		<label for='id_distancia'>de R$:</label>
 		<input type="text" value="" name='de' id='id_de'/>
 		<label for='id_distancia'>até R$:</label>
 		<input type="text" value="" name='ate' id='id_ate'/>
 	</fieldset>
 	<fieldset>
 		<input type="submit" value="Pular" />
 		<input type="submit" value="Avançar" />
 	</fieldset>
</div>
