{% extends "portal/base_portal.html" %}

{% load url from future %}
{% block conteudo %}
<div class="page-wrapper">
	<h2 class="title2">Cadastro</h2>
	
	<div class="forms">
		<form enctype='multipart/form-data' method='post' id="form-cad">
		{% csrf_token %}
		     <p>
				 <label for="id_inativo">Nome:</label><br />
				 {{form.nome}}{{form.nome.errors}}
	         </p>
	         <p>
	             <label for="id_nome">E-mail:</label><br />
				 {{form.email}}{{form.email.errors}}
		     </p>		 
			 <p>
	             <label for="id_email">Senha:</label><br />
				 {{form.senha}}{{form.senha.errors}}
		     </p>
	         <p class="btns-filter">
	         	<input type='submit' value='Salvar' />
	         </p>
		</form>
	</div>
</div>
{% endblock %}

