{% extends 'portal/base_portal.html' %}

{% load url from future %}

{% block conteudo %}

{% include 'combopags.html' %}
<table cellspacing='0' class='table' name='TBcontas' id='TBcontas' >
	<thead>
		<tr class='cabecalho'>
			<th></th>
			<th>Nome</th>
			<th>Preço</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for r in page.object_list %}
		<tr class='{% cycle 'row1' 'row2' %}'>
			<td><a href="{#% url cadastro r.id %#}">{{ r.id }}</a></td>
			<td>{{ r.nome }}</td>
			<td>R$ {{ r.preco }}</td>
			<td><a href="{#% url excluir r.id %#}"> <img src="{{STATIC_URL}}/image/garbage.png" width='20px' ></a></td>
		</tr>
		{% empty %}
		<tr>
			<th colspan='2'>Nenhum registro cadastrado.</th>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot></tfoot>
</table>
{% include 'pagcontrol.html' %}
<br/>
{% endblock %}

