html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
strong { font-weight: bold; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

body {
	background: #E6E9EB;
	font: 1em/1.4 Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
hr {
    display: block;
    border: 0;
	clear: both;
}
img { vertical-align: middle; }
a { 
	color:#025EC7;
	outline:none;
}
textarea { resize: vertical; }
.no-underline {
	text-decoration:none
}
.no-underline:hover {
	text-decoration:underline
}
#page-container {
	background: #FFF;
	box-shadow: 0 1px 5px #777;
	max-width: 1500px;
	margin: 0 auto;
}
.txt-default{
	font: 1em Arial, Verdana, serif;
	color:#414141;
	letter-spacing: 1px;
}
.clear { clear: both; }

.h-list, .v-list {
	list-style: none;
}

.v-list li a, .h-list li a {
	text-decoration: none;
}

.h-list li {
	display: inline;
}

.h-list li a {
	float: left;
}
.v-list li a {
	display: block;
}
a:hover{
	text-decoration: underline;
}

.title2{
	font:20px Arial, Helvetica, sans-serif;
	color:#666;
	display: block;
	width:100%;
	padding:15px 0;
	border-bottom: 5px #eaeaea solid;
	float:left;
}
/* classe para limitar as margens horizontais das seções principais da pagina */
.page-wrapper {
    display: block;
	margin: 0 auto;
    width: 940px;
    height: 600px;
}
.hidden { display: none; }


/*INI: TOP */
#top{
	width:100%;
	height:187px;
	background:#292929;
}
#header{
	position:relative;
}
.logo{
    background: url("../img_portal/logo.png") repeat scroll 0 0 transparent;
    float: left;
    height: 121px;
    text-indent: -8000px;
    width: 228px;
    margin-top: 18px;
}


#search {
    float: right;
    margin-right: 10px;
    position: absolute;
    right: 18px;
    top: 141px;
}
#id_pesq_busca {
    float: left;
    padding: 10px;
    width: 380px;
}
#buscar_button {
    background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
    color: #FFFFFF;
    float: left;
    height: 21px;
    margin-left: 5px;
    margin-top: 3px;
    padding: 8px 18px;
}


#nav-top {
    display: block;
    float: left;
    left: 12px;
    position: absolute;
    top: 155px;
}
#nav-top li{
	float:left;
}
.item-nav-top {
    color: #FFF;
    float: left;
    font: 14px Arial,Helvetica,sans-serif;
    margin-right: 10px;
    text-decoration: none;
}
.item-nav-top:hover{
	color:#CF0404;
}

/* END: TOP */
	
	
	
	/* OLD
		#tudo {
			display: 
			         "a"  
			         "c"  
			         "e" 
			         ;
		}
		body {
			padding: 0px;
			margin: 0px;
			color:#000000;
		}
		#topo {
			position : a;
			z-index: 0;
			margin: 0px;
			width: 100%;
			height: 170px;
			background-color:  rgb(162, 181, 205);/*#4F94CD; /*#436EEE; /*#8B8B83;*/
        /*    border-bottom: 5px solid #363636;
            margin-bottom: 30px;
		}
		#menu {
			position   : b;
			text-align : center;
		}
		#principal {
			position: c;
			min-height: 400px;
			text-align: center;
			height: auto;
		}
		#rodape {
			position: e;
			width: 100%;
			height: auto;
            /*background: #CFCFCF;
		}

		#id_pesq_label {
			width: 530px;
			padding: 3px;
			padding-right: 0px;
			margin-right: 0px;
			height: 35px;
			font-size: medium;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			vertical-align: middle;
			background: white;
			border: 1px solid #666666;
		}
		#id_buscar_img {
			padding: 2px;
			padding-right: 0px;
			margin-right: 2px;
			height: 34px;
			font-size: medium;
			float: left;
		}
		#id_pesq_busca {
			border: none;
			padding: 0px;
			height: 34px;
			float: left;
			width: 400px;
			color: gray;
		}
		#id_pesq_label span {
			float: left;
			height: 28px;
			background: #8B0000;
			color: white;
			border-radius: 7px 7px 7px 7px;
			vertical-align: middle;
			text-transform: uppercase;
			padding: 6px 6px 0px 6px;
		}

		.login_button {
			border: 1px solid #CD853F;
			padding: 3px;
			height: 35px;
			padding-left: 0px;
			margin-left: 0px;
			background-color: #EE9A49;
			color: white;
			font-size: medium;
			width: 180px;
		}*/