html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
strong { font-weight: bold; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

body {
	background: #E6E9EB;
	font: 1em/1.4 Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
hr {
    display: block;
    border: 0;
	clear: both;
}
img { vertical-align: middle; }
a { 
	color:#025EC7;
	outline:none;
	text-decoration: none; 
}
textarea { resize: vertical; }
.no-underline {
	text-decoration:none
}
.no-underline:hover {
	text-decoration:underline
}
#page-container {
	background: #FFF;
	box-shadow: 0 1px 5px #777;
	max-width: 1500px;
	margin: 0 auto;
}
.txt-default{
	font: 1em Arial, Verdana, serif;
	color:#414141;
	letter-spacing: 1px;
}
.clear { clear: both; }

.h-list, .v-list {
	list-style: none;
}

.v-list li a, .h-list li a {
	text-decoration: none;
}

.h-list li {
	display: inline;
}

.h-list li a {
	float: left;
}
.v-list li a {
	display: block;
}
a:hover{
	text-decoration: underline;
}

.title2{
	font:20px Arial, Helvetica, sans-serif;
	color:#666;
	display: block;
	width:100%;
	padding:15px 0;
	border-bottom: 5px #eaeaea solid;
	float:left;
}
/* classe para limitar as margens horizontais das seções principais da pagina */
.page-wrapper {
    display: block;
	margin: 0 auto;
    width: 940px;
}
.hidden { display: none; }


/*INI: TOP */
#top{
	width:100%;
	height:187px;
	background:#292929;
}
#header{
	position:relative;
}
.logo{
    background: url("../img_portal/logo.png");
    float: left;
    height: 121px;
    text-indent: -8000px;
    width: 228px;
    margin-top: 33px;
}


#search {
    float: right;
    margin-right: 10px;
    position: absolute;
    right: 18px;
    top: 95px;
}
#id_pesq_busca {
    float: left;
    padding: 10px;
    width: 380px;
}
.buscar_button {
    background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
    color: #FFFFFF;
    float: left;
    height: 21px;
    margin-left: 5px;
    margin-top: 3px;
    padding: 8px 18px;
    cursor: pointer;
}
.b_button {
	border:none!important;
    background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
    color: #FFFFFF;
    float: left;
    height: 31px;
    margin-left: 5px;
    margin-top: 3px;
    padding: 8px 18px;
    cursor: pointer;
}

#nav-top {
    display: block;
    float: left;
    left: 12px;
    position: absolute;
    top: 155px;
}
#nav-top li{
	float:left;
}
.item-nav-top {
    color: #FFF;
    float: left;
    font: 14px Arial,Helvetica,sans-serif;
    margin-right: 10px;
    text-decoration: none;
}
.item-nav-top:hover{
	color:#CF0404;
}

/* INI :RODAPE */

#footer{
	width: 100%;
	height:223px;
	background:#292929;
}


/* END :RODAPE */


#footer{
	width: 100%;
	height:223px;
	background:#292929;
	bootom:0px;
	float:left;
}
#nav-footer {
    height: 58px;
    margin: 2px auto;
    width: 100%;
}
#nav-footer li{
	float:left;
	
}
#nav-footer li a{
	color:#FFF;
}
#open{
	width:400px;
	height:100px;
	float:left;
}
#open p{
	color:#FFF;
}
/* END: TOP */
#login{
	float:right;
}
#python, #django{
	float: left;
	text-indent: -5500px;
	margin-top:20px;
}

#python {
    background: url("../img_portal/logo_python_white.png") repeat scroll 0 0 transparent;
    height: 31px;
    width: 132px;
    margin-right:20px;
}
#django {
    background: url("../img_portal/logo_django_white.png") repeat scroll 0 0 transparent;
    height: 32px;
    width: 92px;
}
.field-footer{
	width:160px;
	padding:5px;
	margin:2px 5px;
}
#copy {
    color: #FFF;
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.list-footer{
	width:300px;
	margin:10px auto;
}
.item-list-footer{
	margin:0 10px;
	float:left;
	font:14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.smart-filter {
    border:1px #EAEAEA solid;
    float: left;
    margin-bottom: 31px;
    margin-top: 9px;
    padding: 15px 15px 30px;
    width: 908px;
    border-radius: 0 0 8px 8px;
}
.filter-title, .filter-quest{
	float:left;
	padding:10px 0;
	width:100%;
	font: 18px arial,serif;
}
.filter-title{
	color:#414141;
}
.filter-quest{
	font-size:16px;
	
}
.input-filter{
	padding:10px;
	width:400px;
	margin-bottom: 10px;
}
.btns-filter{
	float:left;
	margin-top:10px;
}
#id_email, #id_nome, #id_senha, #id_login{
	padding:10px;
	width:300px;
}	
.forms{
	width:305px;
	margin:0px auto;
	padding:80px 0;
}
#top-login{
	color:#414141;
}
