<script>
var carousel_tvs = {
"data":[
{% for televisor in televisores %}
{
"url"       :"{% url portal.visualizar televisor.id %}",
"img"       :"/media/{{ televisor.imagem }}",
"descricao" :"{{ televisor.nome }}",
"aux"       :"{{ televisor.marca.descricao }}"
}{% if not forloop.last %},{% endif %}
{% endfor %}
]
};
$(function(){
create(carousel_tvs.data, '#carrossel4', 6);
});
</script>
	<h2 class="title2">Principais Televisores</h2>
	<div id="carrossel4" class="carousel_box">
		<div id="carousel_rec">
			<div href="#" class="prev-box">
				<a href="#" alt="voltar" class="prev"></a>
			</div>
			<div class="carousel carousel_rec" id="imgsOffers">
				<div class="carr offersCarr">
					<!-- items -->
				</div>
			</div>
			<div href="#" class="next-box">
				<a href="#" alt="avançar" class="next"></a>
			</div>
		</div>
	</div>