<script>
var carousel3 = {
"data":[
{% for loja in lojas %}
{
"url"       :"{% url lojas.cadastro loja.id %}",
"img"       :{% if loja.logo %}"/media/{{ loja.logo }}"{% else %}"/static/imagem/sem_img.png"{% endif %},
"descricao" :"{{ loja.nome }}",
"aux"       :"{{ loja.quantidade_prod }} produtos"
} {% if not forloop.last %},{% endif %}
{% endfor %}
]
};
$(function(){
create(carousel3.data, '#carrossel3');
});

</script>
<div class="page-wrapper">
	<div id="carrossel3" class="carousel_box">
		<div class="carousel_header">
			Principais Lojas
		</div>
		<div id="carousel3">
			<div href="#" class="prev-box">
				<a href="#" alt="voltar" class="prev"></a>
			</div>
			<div class="carousel" id="imgsOffers">
				<div class="carr offersCarr">
					<!-- items -->
				</div>
			</div>
			<div href="#" class="next-box">
				<a href="#" alt="avançar" class="next"></a>
			</div>
		</div>
	</div>
</div>
