<div id="aba1" class="tabs">
	<h2> Nome do Produto </h2>
	<p class="sub-h2">
		Especificações, caracteristicas e Ficha Técnica
	</p>
	<p class="parag-default">
		O Sony Xperia ZQ é um smartphone Android com características inovadoras em todos os pontos de vista que permite ser útil para qualquer forma
		de entretenimento, a qualquer hora e em qualquer lugar, representando um dos melhores dispositivos móveis já feitos. A tela de 5 polegadas é um
		verdadeiro record que coloca esse Sony no topo de sua categoria. Além disso a resolução é das mais altas atualmente em circulação: 1920x1080 pixel.
	</p>
	<p class="parag-default">
		As funcionalidades oferecidas pelo Sony Xperia ZQ são muitas e todas top de linha. Começando pelo LTE 4G que permite a transferência de dados e
		excelente navegação na internet, além de conectividade Wi-fi e GPS presente no aparelho.
	</p>
	<p class="parag-default">
		Tem também leitor multimídia, rádio, videoconferência, e bluetooth. Enfatizamos a memória interna de 16 GB com a possibilidade de expansão.
	</p>
	<p class="parag-default">
		A excelência deste Sony Xperia ZQ é completada por uma câmera de 13 megapixels que permite tirar fotos fantásticas com uma resolução de 4128x3096
		pixels e gravar vídeos em full HD a espantosa resolução de 1920x1080 pixels. A espessura de 9.8 milímetros é realmente ótima e torna o Sony Xperia ZQ
		ainda mais espetacular.
	</p>
	<h3> Especificações Técnicas</h3>
	<table cellspacing="0" class="specs">
		<tbody>
			<tr class="specs-row">
				<td class="spec-name">Marca</td>
				<td class="spec-value"> Sony </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Tamanho de tela</td>
				<td class="spec-value">40.0 pol</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Tipo de tela</td>
				<td class="spec-value">LED </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Tela plana</td>
				<td class="spec-value">Sim </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Formato de tela</td>
				<td class="spec-value">16:9 </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Medida diagonal da tela</td>
				<td class="spec-value">101.6 cm</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Entradas de áudio</td>
				<td class="spec-value">2 </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Entradas de vídeo</td>
				<td class="spec-value">3 </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Saídas de audio</td>
				<td class="spec-value">1 </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Saídas de vídeo</td>
				<td class="spec-value">1 </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Full HD</td>
				<td class="spec-value">Sim </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Conversor Digital Integrado</td>
				<td class="spec-value">Sim </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">PIP</td>
				<td class="spec-value">Sim </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">SAP/MTS Stéreo</td>
				<td class="spec-value">Sim </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Funções</td>
				<td class="spec-value">Timer On/Off; Sleeptimer; Image Scan; Conexões à Internet; SmartTV; Closed Caption; Surround; Dolby Digital; </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Controle remoto</td>
				<td class="spec-value">Sim </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Sistema de cor</td>
				<td class="spec-value">Pal M, N e NTSC </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Potência de saída</td>
				<td class="spec-value">10.0 W</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Alimentação</td>
				<td class="spec-value">Bivolt </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Consumo de energia</td>
				<td class="spec-value">72.0 W-h</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Altura do aparelho</td>
				<td class="spec-value">94.3 cm</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Largura do aparelho</td>
				<td class="spec-value">57.6 cm</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Profundidade do aparelho</td>
				<td class="spec-value">5.9 cm</td>
			</tr>
			<tr class="last">
				<td class="spec-name">Peso do aparelho</td>
				<td class="spec-value">14.3 kg</td>
			</tr>
		</tbody>
	</table>
</div>