<div id="aba2" class="tabs">
	<h2 class="title2"> Especificações Técnicas </h2>
	<table cellspacing="0" class="specs">
		<tbody>
			<tr class="specs-row">
				<td class="spec-name">Marca</td>
				<td class="spec-value"> {{ televisor.marca }} </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Tamanho de tela</td>
				<td class="spec-value">{{ televisor.polegadas }} pol</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Tipo de tela</td>
				<td class="spec-value">{{ televisor.tipo_de_tela }} </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Resolução</td>
				<td class="spec-value">{{ televisor.resolucao }} </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Formato de tela</td>
				<td class="spec-value">{{ televisor.formato_tela }} </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Medidas (Altura x Largura x Profundidade)</td>
				<td class="spec-value">( {{ televisor.altura }} cm x {{ televisor.largura }} cm x {{ televisor.profundidade }} cm )</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Peso</td>
				<td class="spec-value">{{ televisor.peso }} kg</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Potência</td>
				<td class="spec-value">{{ televisor.potencia }} Watts</td>
			</tr>
			
			<tr class="specs-row">
				<td class="spec-name">Full HD</td>
				<td class="spec-value">{% if televisor.is_full_hd %}Sim{% else %}Não{% endif%}</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Conversor Digital Integrado</td>
				<td class="spec-value">{% if televisor.has_conversor %}Sim{% else %}Não{% endif%}</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">PIP</td>
				<td class="spec-value">{% if televisor.has_pip %}Sim{% else %}Não{% endif%}</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">SAP/MTS Stéreo</td>
				<td class="spec-value">{% if televisor.has_sap %}Sim{% else %}Não{% endif%}</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Smart TV</td>
				<td class="spec-value">{% if televisor.is_smart_tv %}Sim{% else %}Não{% endif%}</td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">3D</td>
				<td class="spec-value">{% if televisor.is_3d %}Sim{% else %}Não{% endif%}</td>
			</tr>
			{% for con in conexoes %}
			<tr class="specs-row">
				<td class="spec-name">{{ con.conexao.descricao  }}</td>
				<td class="spec-value">{{ con.qntd }} ( {{ con.obs }} )</td>
			</tr>
			{% endfor %}
			
			<tr class="specs-row">
				<td class="spec-name">Funções</td>
				<td class="spec-value">
					{% for fun in funcoes %}
			            <span> {{ fun }}  </span>{% if not forloop.last %},{% endif %}
			        {% endfor %}
			    </td>
			</tr>
			
			{% for item in itens %}
			<tr class="specs-row">
				<td class="spec-name">{{ item.item.descricao  }}</td>
				<td class="spec-value">{{ item.qntd }} ( {{ item.obs }} )</td>
			</tr>
			{% endfor %}

			<tr class="specs-row">
				<td class="spec-name">Alimentação</td>
				<td class="spec-value">{{ televisor.alimentacao }} </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Consumo de energia</td>
				<td class="spec-value">{{ televisor.consumo_energia|default:'' }} </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name">Site</td>
				<td class="spec-value">{{ televisor.site }} </td>
			</tr>
			<tr class="specs-row">
				<td class="spec-name" colspan="2">
					{{ televisor.video }} 
				</td>
			</tr>

		</tbody>
	</table>
</div>