<div id="aba0" class="tabs">
	<div class="img-product">
		<figure>
			<img src="/media/{{ televisor.imagem }}" class="img-prod" />
		</figure>
	</div>

	<div id="info-prod-inicial">
		<p class="range-price">
			Variação de preço de R$ {{ televisor.menor_preco }} ate R$ {{ televisor.maior_preco }}
		</p>
		<p class="view-prod">
			Visitado {{ televisor.visitado|default:'0' }} vezes
			<br/>
			Recomendado {{ televisor.recomendado|default:'0' }} vezes
			<br/>
			com {{ qntde_coments }} comentarios
		</p>
		{% if televisor.site %}
		<p class="view-prod">
			<a href="{{ televisor.site }}">Acesse o site do produto</a>
		</p>
		{% endif %}
	</div>
	
	<p class="parag-default parag-desc">
		{{ televisor.especificacao|default:"Sem especificação cadastrada." }}
	</p>
    
    {% if televisor.video %}
	<div id="info-prod-inicial-video">
		<p class="parag-default parag-video">
			<iframe width="560" height="315" src="{{ televisor.video }}"
			frameborder="0" allowfullscreen></iframe>
		</p>
	</div>
    {% endif %}

	{% include 'portal/grafico/metricas.html' %}

</div>