{% extends 'portal/base_portal.html' %}

{% load url from future %}

{% block js_custom %}

<script>
	var IMG_RATY       = "{{STATIC_PREFIX}}js/rating/img";
	var URL_COMNT_SAVE = "{% url 'portal.salvar_comentario' %}";
	var URL_COMNT_LIST = "{% url 'portal.lista_comentarios' %}";
	var ID_TELEVISOR   = "{{ televisor.id }}";
</script>

<script src="{{STATIC_PREFIX}}js/rating/js/jquery.raty.min.js"></script>
<script src="{{STATIC_PREFIX}}js/rating/js/raty.js"></script>

<link type="text/css" href="{{STATIC_PREFIX}}js/vitrine/css/product.css" rel="stylesheet" />
<script src="{{STATIC_PREFIX}}js/vitrine/js/product.js"></script>

{% endblock %}

{% block conteudo %}
<div class="page-wrapper">

	<!-- INI: MENU Lateral --> 
	{% include 'portal/produtos/det_menu_vertical.html' %} 
	<!-- END: MENU Lateral -->

	<div id="box-main">

		<!-- INI: ABA DE OFERTAS -->
		{% include 'portal/produtos/det_aba_ofertas.html' %}
		<!-- END: ABA DE OFERTAS -->

		<!-- INI: ABA DE SPECS -->
		{% include 'portal/produtos/det_aba_espec.html' %}
		<!-- END: ABA DE SPECS -->

		<!-- INI: ABA DE Comentarios -->
		{% include 'portal/produtos/det_aba_coments.html' %}
		<!-- END: ABA DE Comentarios -->

	</div>
</div>

{% endblock %}
