<p>
	<a href="#" class="link-coment" >Deixe aqui seu comentário</a>
</p>
<div class="new-coment">
	<p>
		<label for="name"> Digite seu nome </label>
		<br/>
		<input type="text" name="name" id="comnts_nome" />
	</p>
	<p>
		<label for="comentario"> Seu Comentario </label>
		<br/>
		<textarea name="comentario" id="comnts_comentario" rows="5" cols="60"></textarea>
	</p>
	<p>
		<label for="comentario"> Sua Nota </label>
		<input type="hidden" name="nota" id="comnts_nota" />
		<span id="comnts_rat"><!-- --></span>
	</p>

	<p>
		<input type="button" id="comnts_submit" value="Comentar"/>
	</p>
</div>
</div>