
<script type="text/javascript">
 $(function(){
	{% if messages %}
	time_of_msg = 2000
	config = {
		autoHide : false, // added in v2.0
		clickOverlay : true, // added in v2.0 
		TimeShown : time_of_msg,
		HorizontalPosition : 'center',
		VerticalPosition   : 'top',
		onCompleted : function(){ }
	 }
	
   /*$().toastmessage({
       sticky   : true,
       position : 'top-center',
       type     : 'success',
       close    : function () {}
	});*/
	
	{% for m in messages %}
		if( '{{m.tags}}'=='error' ){
			jError(  '{{ m|safe }}',config ); 
		}else if( '{{m.tags}}'=='success' ){
			jSuccess(  '{{ m|safe }}',config );
		}else if( '{{m.tags}}'=='info' ){
			jNotify(  '{{ m|safe }}',config ); 
		}else if( '{{m.tags}}'=='warning' ){
			jWarning(  '{{ m|safe }}',config );
		}	
	{% endfor %}
	{% endif %}	  
});
</script>
