
table th {
	border-right:   1px solid #ccc;
	border-bottom:  1px solid #ccc;
	border-left:    1px solid #ccc;
	border-top:     1px solid #ccc;
	padding:        4px;
	font-size:      0.8em;
	vertical-align: top;
}

#listagem tbody tr:hover {
	background-color: #a9d0f5;
}

#listagem table {
	border:  0px solid #EDEDED;
	padding: 5px;
}

#listagem {
	font-family:     Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-left:     1px solid #ccc;
	border-top:      1px solid #ccc;
	color:           #333;
	width:           690px;
	max-width:       690px;
}

#listagem caption {
	font-size:      1.1em;
	font-weight:    bold;
	letter-spacing: -1px;
	margin-bottom:  10px;
	padding:        5px;
	background:     #efefef;
	border:         1px solid #ccc;
	color:          #666;
}

#listagem a {
	text-decoration: none;
	/*border-bottom:   1px dotted #f60;*/
	color:           #f60;
	font-weight:     bold;
}

#listagem a:hover {
	text-decoration: none;
	color:           #fff;
	/*background:      #f60;*/
}

#listagem tr th a {
	color:         #369;
	border-bottom: 1px dotted #369;
}

#listagem tr th a:hover {
	color:      #fff;
	background: #369;
}

#listagem thead tr th, #formPesq label {
	text-transform: capitalize;
	background:     #e2e2e2;
	text-align:     justify;
}

#listagem tfoot tr th, table tfoot tr td {
	text-transform: capitalize;
	color:          #000;
	font-weight:    bold;
}

#listagem footer tr th, #formPesq label {
	width: 20%;
}

#listagem footer tr td {
	width: 80%;
}

/*#listagem td:first-child{ 
	max-width: 80px!important;
}*/

#listagem td{
	border-right:   1px solid #ccc;
	border-bottom:  1px solid #ccc;
	border-left:    1px solid #ccc;
	border-top:     1px solid #ccc;
	padding:        4px;
	/*line-height:    1.8em;*/
	/*font-size:      0.8em;*/
	vertical-align: top;
	/*width: 20%;*/
}

#listagem tr.odd th, table tr.odd td {
	background: #efefef;
}


fieldset {
	border: 1px solid #CCCCCC;
	vertical-align: middle;
	text-align: center;
	max-width: 690px;
	padding: 0px!important;
	padding-top: 5px!important;
}
.fieldset_off{
	border: none;
	vertical-align: middle;
	text-align: center;
	max-width: 690px;
	padding: 0px!important;
	padding-top: 3px!important;
}

.legend {
	background-color: #778899;
	padding:          0.2px 0.5px;
	border:           1px solid #778899;
	color:            white;
	font-size:        90%;
	text-align:       right;
	vertical-align:   middle;
}

fieldset label {
	float:        left;
	width:        200px;
	margin-right: 0.5px;
	padding-top:  0.2px;
	/*text-align:   right;*/
	font-weight:  bold;
}

fieldset h3 {
	background-color: #778899;
	padding:          0.2px 0.5px;
	border:           1px solid #778899;
	color:            white;
	font-size:        90%;
	text-align:       left;
	vertical-align:   middle;
}