{% extends "base.html" %}

{% load url from future %}
{% block conteudo %}

<form enctype='multipart/form-data' method='post'>
	{% csrf_token %}
	<fieldset class="fieldset_off">
	{% include 'usuarios/cad_user_form.html' %}
    </fieldset>
	<fieldset class="fieldset_off">
	   <input type='submit' value='Salvar' />
       <a  href="{% url 'usuario.listagem' %}" 
          class="ui-button ui-widget ui-state-default ui-corner-all" 
          style="padding: 5px">Listagem</a>
    </fieldset>
</form>
	
{% endblock %}







