{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load url from future %}

{% block css_custom %}
{% endblock %}

{% block js_custom %}

{% include 'basic/statics.html' %}

{% endblock %}

{% block conteudo %}
<div style="text-align:right; width: 100%">
	<a class="link_btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" href="{% url 'usuario.cadastro' %}" role="button" aria-disabled="false"> <span class="ui-button-text">Novo</span> </a>
	<br><br>
</div>

<div style="margin-left:auto; margin-right:auto">

	<fieldset>{% include 'grid/filtros.html'%}</fieldset>
	<br>
	<fieldset class="fieldset_off">
	<table id='listagem' width='600px' class="tablecol">
		<thead>
			<tr>
				<td class="ui-widget-header">ID</thd> <td class="ui-widget-header">Nome</td>
				<td class="ui-widget-header">Email</td>
				<td class="ui-widget-header">Adm</td>
				<td class="ui-widget-header">Super</td>
				<td class="ui-widget-header">Último Login</td>
				<td class="ui-widget-header">Cadastrado em</td>
				<td class="ui-widget-header">Ações</td>
			</tr>
		</thead>
		<tbody>
			{% for p in page.object_list %}
			<tr>
				<td>{{ p.id }}</a></td>
				<td>{{ p.username }}</td>
				<td>{{ p.email }}</td>
				<td>
					{% if  p.is_staff %}
                        <img src='{{ STATIC_PREFIX }}GridList/img/success.png' width="15px">
                    {% else %}
                        <img src='{{ STATIC_PREFIX }}GridList/img/error.png' width="15px">
                    {% endif %}
                </td>
				<td>
					{% if p.is_superuser %}
                        <img src='{{ STATIC_PREFIX }}GridList/img/success.png' width="15px">
                    {% else %}
                        <img src='{{ STATIC_PREFIX }}GridList/img/error.png' width="15px">
                    {% endif %}
                </td>
				<td>{{ p.last_login }}</td>
				<td>{{ p.date_joined }}</td>
				<td>
                    <ul id="icons_plus{{p.id}}" class="ui-widget ui-helper-clearfix" style="list-style: none; padding-left: 1px!important; margin: 0px!important;">
					<a href="{% url 'usuario.cadastro' p.id %}"><img src='{{STATIC_PREFIX}}/GridList/img/edit.png' width='15px'></a>
                    </ul>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan='2'>Nenhum registro cadastrado.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/>
	</fieldset>
	
	<fieldset>{% include 'combopags.html'%}</fieldset>
	
</div>
{% endblock %}
