{% extends "portal/base_portal.html" %}

{% load url from future %}
{% block conteudo %}
<div style="height: 250px!important;">
	<form name="form_pass02"  id="form_passo02" method="post" action="{% url 'filtragem.passo05' %}">
		{% csrf_token %}
		<input type="hidden" value="{{ televisores_ids }}" name='tvs_ids'/>
		<div class="filtros_container">
			<p>
				<span class="filter-title">Passo 5</span>
				<span class="filter-quest"> Quais os tipo de tela que você prefere? </span>
			</p>
			<p>
				{% for tipo in tipos %}
				<input type="checkbox" value="{{ tipo.id }}" />
				{{ tipo.descricao }}
				<figure>
					<img src='/media/{{ tipo.imagem }}' id="foto_tipo{{ tipo.id }}" width="50px">
				</figure>
				<span id="expl_tipo{{ tipo.id }}"> {{ tipo.especificacao }} </span>
				<br/>
				{% endfor %}
			</p>
			<p class="btns-filter">
				<input type="submit" value="Pular &gt;"  class='b_button'/>
				<input type="submit" value="Avançar &gt"  class='b_button'/>
			</p>
		</div>
	</form>
</div>
<br><br><br>
<br>
{% include 'filtragem/teste_filtragem.html' %}
{% endblock %}
