{% extends "portal/base_portal.html" %}

{% load url from future %}
{% block conteudo %}
<div style="height: 250px!important;">
	<form name="form_pass02"  id="form_passo02" method="post" action="{% url 'filtragem.passo03' %}">
		{% csrf_token %}
		<input type="hidden" value="{{ televisores_ids }}" name='tvs_ids'/>
		<div class="filtros_container">
			<p>
				<span class="filter-title">Passo 3</span>
				<span class="filter-quest">Qual a faixa de preço desejada? </span>
			</p>
			<p>
				<label for='de'>de R$:</label>
				<input type="text" value="" name='preco_de' id='id_de'/>

				<label for='ate'>até R$:</label>
				<input type="text" value="" name='preco_para' id='id_ate'/>
			</p>
			<p class="btns-filter">
				<input type="submit" value="Pular &gt;"  class='b_button' />
				<input type="submit" value="Avançar &gt;"  class='b_button' />
			</p>
		</div>
	</form>
</div>
<br>
<br>
{% include 'filtragem/teste_filtragem.html' %}
{% endblock %}