{% extends "portal/base_portal.html" %}

{% load url from future %}
{% block conteudo %}
<div style="height: 250px!important;">
	<form name="form_pass02"  id="form_passo02" method="post" action="{% url 'filtragem.passo02' %}">
		{% csrf_token %}
		<input type="hidden" value="{{ televisores_ids }}" name='tvs_ids'/>
		<div class="filtros_container">
			<p>
				<span class="filter-title">Passo 2</span>
				<span class="filter-quest"> Quais os aparelhos que você pretende utilizar? </span>
			</p>
			<p>
				{% for aparelho in aparelhos %}
			<span style="float: left; margin-left: 15px;">
			    <input type="checkbox" value="{{ aparelho.0 }}" name='aparelhos'/>{{ aparelho.0 }}<br>
				<img id='img' src='{{ STATIC_PREFIX }}{{ aparelho.1 }}' width='80px'/> <br>
			</span>
				{% endfor %}
			</p>
			<p class="btns-filter">
				<input type="submit" value="Avançar &gt;" class='b_button' />
			</p>
		</div>
	</form>
</div>
<br><br>
{% include 'filtragem/teste_filtragem.html' %}
{% endblock %}