<div class="filtros_container">
 	<p>
 		<span class="filter-title">Passo 6</span>
 		<span class="filter-quest"> Quais os tipo de tela que você prefere? </span>
 	</p>
 	<p>
 		<input type="checkbox" value="0" />item 1 <br />
 		<input type="checkbox" value="1" />item 2 <br />
 		<input type="checkbox" value="2" />item 3 <br />
 		<input type="checkbox" value="3" />item 4 <br />
 		{% for tipo in tipos %}
 		<input type="checkbox" value="{{ tipo.id }}" />{{ tipo.descricao }}
 		<figure>
 			<img src='/media/{{ tipo.imagem }}' id="foto_tipo{{ tipo.id }}">
 		</figure>
 		<span id="expl_tipo{{ tipo.id }}">
 			 {{ tipo.especificacao }}
 		</span>
 		{% endfor %}
 	</p>
 	<p class="btns-filter">
 		<input type="submit" value="Pular" />
 		<input type="submit" value="Terminar" />
 	</p>
</div>