<div class="filtros_container">
 	<p>
 		<span class="filter-title">Passo 5</span>
 		<span class="filter-quest"> - Quais os tamanhos de tela que você prefere? </span>
 	</p>
 	<p>
 		<input type="checkbox" value="0" />item 1 <br />
 		<input type="checkbox" value="1" />item 2 <br />
 		<input type="checkbox" value="2" />item 3 <br />
 		<input type="checkbox" value="3" />item 4 <br />
 		{% for tamanho in tamanhos %}
 		<input type="checkbox" value="{{ tamanho.0 }}" />{{ tamanho.1 }}
 		{% endfor %}
 	</p>
 	<p class="btns-filter">
 		<input type="submit" value="Pular" />
 		<input type="submit" value="Avançar &gt" />
 	</p>
</div>
