{% extends "portal/base_portal.html" %}

{% load url from future %}
{% block conteudo %}
<div style="height: 250px!important;">
	<form name="form_pass02"  id="form_passo02" method="post" action="{% url 'filtragem.passo04' %}">
		{% csrf_token %}
		<input type="hidden" value="{{ televisores_ids }}" name='tvs_ids'/>
		<div class="filtros_container">
			<p>
				<span class="filter-title">Passo 4</span>
				<span class="filter-quest"> - Quais os tamanhos de tela que você prefere? </span>
			</p>
			<p>
				{% for tamanho in tamanhos %}
				<input type="checkbox" value="{{ tamanho.0 }}"  name='tamanhos'/>
				{{ tamanho.1 }}
				{% endfor %}
			</p>
			<p class="btns-filter">
				<input type="submit" value="Pular &gt;"  class='b_button'/>
				<input type="submit" value="Avançar &gt"  class='b_button'/>
			</p>
		</div>
	</form>
</div>
<br>
<br>
{% include 'filtragem/teste_filtragem.html' %}
{% endblock %}
