{% extends "portal/base_portal.html" %}

{% load url from future %}
{% block conteudo %}
<div class="filtros_container">
 	<p>
 		<span class="filter-title">Passo 3</span>
 		<span class="filter-quest">Qual a faixa de preço desejada? </span>
 	</p>
 	<p>
 		<label for='de'>de R$:</label>
 		<input type="text" value="" name='de' id='id_de'/>

 		<label for='ate'>até R$:</label>
 		<input type="text" value="" name='ate' id='id_ate'/>
 	</p>
 	<p class="btns-filter">
		<a href="{% url 'portal.home' %}">Anterior</a>
		<a href="{% url 'portal.home' %}">Pular</a>
 		<input type="submit" value="Avançar &gt;" />
 	</p>
</div>
<br><br>
{% include 'filtragem/teste_filtragem.html' %}
{% endblock %}