{% extends "portal/base_portal.html" %}

{% load url from future %}
{% block conteudo %}
<div class="page-wrapper">
	<form name="form_pass01"  id="form_passo01" method="post" action="{% url 'filtragem.passo06' %}">
		{% csrf_token %}
		<div class="filtros_container">
			<h2 class="title2">
				Passo 6
			</h2>
			<p>
				<span class="filter-quest"> - Qual a distância entre o televisor e seu assento? </span>
			</p>
			<p>
				<input type="number" value="" name='distancia' id='id-distancia' class="input-filter" />
				<label for='id-distance'>distância (em metros):</label>
			</p>
			<p class="btns-filter btn-aj">
				<input type="submit" value="Terminar &gt;"  class='b_button'/>
			</p>
		</div>
	</form>
</div>
<div style="width:100%; float: left;">
{% include 'filtragem/teste_filtragem.html' %}
</div>
{% endblock %}
