{% extends 'iframe.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load url from future %}
{% load i18n %}

{% block css_custom %}

{% if css_custom %}
     {% for css in css_custom %}
         <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{{ css }}">
     {% endfor %}
{% endif %}

{% endblock %}
		
{% block js_custom %}

	{% if with_details %}
		<script type="text/javascript">  
		    HASH_LIST_AJAX = { URL_LIST_AJAX:"{% url detail_ajax %}", }
		</script>  
		<script src="{{STATIC_PREFIX}}GridList/js/pesq_details.js" type="text/javascript"></script>
	{% endif %}
	
	<script src="{{STATIC_PREFIX}}GridList/js/jquery.tablesorter.js" type="text/javascript"></script>
	<script src="{{STATIC_PREFIX}}GridList/js/list_order.js"         type="text/javascript"></script>
	<script src="{{STATIC_PREFIX}}GridList/js/list_search.js"        type="text/javascript"></script>
	
	
{% if js_custom %}
     {% for js in js_custom %}
         <script type="text/javascript" src="{{ STATIC_URL }}{{ js }}"></script>
     {% endfor %}
{% endif %}

{% endblock %}

{% block conteudo %}

{% if inclusao_html %}
     {% for template_name in inclusao_html %}
         {% include template_name %}
     {% endfor %}
{% endif %}

	<div style="text-align:right; width: 100%" >
		<a class="link_btn" href="{% url 'conexoes.cadastro' %}?id_tele={{id_tele}}">{% trans "Novo" %}</a><br/><br/>
	</div>
	
<div style="margin-left:auto; margin-right:auto">

	<fieldset>{% include 'grid/filtros.html'%}</fieldset>
	<br>
	<fieldset class="fieldset_off">
	<table id='listagem' width='600px' class="tablecol">
		<thead>
			<tr>
				<td class="ui-widget-header">Conexão</td>
				<td class="ui-widget-header">Qnt.</td>
				<td class="ui-widget-header">Obs.</td>
			</tr>
		</thead>
		<tbody>
			{% for p in page.object_list %}
			<tr>
				<td>{{ p.conexao }}</td>
				<td>{{ p.qntd }}</td>
				<td>{{ p.obs }}</td>
				<td>
                    <ul id="icons_plus{{p.id}}" class="ui-widget ui-helper-clearfix" style="list-style: none; padding-left: 1px!important; margin: 0px!important;">
					  <a href="{% url 'conexoes.cadastro' p.id %}?id_tele={{id_tele}}">
						<img src='{{STATIC_PREFIX}}/GridList/img/edit.png' width='15px'>
					  </a>
                      {% include 'basic/custom_plus_minus.html'%}
					</ul>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan='2'>Nenhum registro cadastrado.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/>
	</fieldset>

</div>
{% endblock %}
