{% extends 'iframe.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load url from future %}


{% block conteudo %}
{% include 'basic/custom_required_fields.html' %}
{% include 'basic/statics.html' %}

<div class="div_grid">
	<a class="link_btn" href="{% url 'conexoes.cadastro' %}?id_tele={{id_tele}}">Novo</a></td>
	<br>
	<fieldset class="fieldset_off">
	<table id='listagem' style="max-width: 670px!important;" class="tablecol">
		<thead>
			<tr>
				<td class="ui-widget-header">Conexão</td>
				<td class="ui-widget-header">Qnt.</td>
				<td class="ui-widget-header" width="10%">Ações</td>
			</tr>
		</thead>
		<tbody>
			{% for p in page.object_list %}
			<tr>
				<td>{{ p.conexao }}</td>
				<td>{{ p.qntd }}</td>
				<td>
                    <ul id="icons_plus{{p.id}}" class="ui-widget ui-helper-clearfix" style="list-style: none; padding-left: 1px!important; margin: 0px!important;">
					  <a href="{% url 'conexoes.cadastro' p.id %}?id_tele={{id_tele}}">
						<img src='{{STATIC_PREFIX}}/GridList/img/edit.png' width='15px'>
					  </a>
                      {% include 'basic/custom_plus_minus.html'%}
					</ul>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan='3'>Nenhum registro cadastrado.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/>
	</fieldset>

	<fieldset>
<br/>
{% if page.has_other_pages %}
<form method='GET' name='combopags'>
    <input type="hidden" value="{{id_tele}}" name="id_tele"/>
    Página:<select name='pagina'>
	{% for i in paginator.page_range %}
      <option value='{{ i }}'>{{ i }}</option>
    {% endfor %}
    </select>
    <input type='submit' value='Ir'/>
</form>
{% endif %}
<br/>
    </fieldset>
</div>
{% endblock %}
