<br>
<table cellspacing='0px' cellpadding='2px' class='tables_tabs'>
	<tr>
		<th><label for="id_consumo_energia">{{form.consumo_energia.label}}</label></th>
		<td>{{form.consumo_energia}}{{form.consumo_energia.errors}}</td>
		
		<th ><label for="id_alimentacao" >{{form.alimentacao.label}}</label></th>
		<td>{{form.alimentacao}}{{form.alimentacao.errors}}</td>
	</tr>
	<tr>
		<th ><label for="id_video" >{{form.video.label}}</label></th>
		<td>{{form.video}}{{form.video.errors}}</td>
		
		<th ><label for="id_site" >{{form.site.label}}</label></th>
		<td>{{form.site}}{{form.site.errors}}</td>
	</tr>
	<tr>
		<th ><label for="id_especificacao" >{{form.especificacao.label}}</label></th>
		<td colspan="3">{{form.especificacao}}{{form.especificacao.errors}}</td>
	</tr>
</table>
<br>
