<br>
<table cellspacing='3px' cellpadding='3px'  class='tables_tabs'>
	<tr>
		<th ><label for="id_is_full_hd" >{{form.is_full_hd.label}}</label></th>
		<td>{{form.is_full_hd}}{{form.is_full_hd.errors}}</td>
		
		<th ><label for="id_is_smart_tv" >{{form.is_smart_tv.label}}</label></th>
		<td>{{form.is_smart_tv}}{{form.is_smart_tv.errors}}</td>
		
		<th ><label for="id_is_hdtv" >{{form.is_hdtv.label}}</label></th>
		<td>{{form.is_hdtv}}{{form.is_hdtv.errors}}</td>
	</tr>
	<tr>
		<th ><label for="id_has_pip" >{{form.has_pip.label}}</label></th>
		<td>{{form.has_pip}}{{form.has_pip.errors}}</td>
		
		<th ><label for="id_has_sap" >{{form.has_sap.label}}</label></th>
		<td>{{form.has_sap}}{{form.has_sap.errors}}</td>
		
		<th ><label for="id_is_3d" >{{form.is_3d.label}}</label></th>
		<td>{{form.is_3d}}{{form.is_3d.errors}}</td>
	</tr>
	<tr>
		<th colspan="2"><label for="id_has_conversor" >{{form.has_conversor.label}}</label></th>
		<td>{{form.has_conversor}}{{form.has_conversor.errors}}</td>
	</tr>
</table>
<br>