{% extends "base.html" %}
{% load url from future %}

{% block conteudo %}
<style>
	#id_marca, #id_funcoes, #id_tipo_de_tela, #id_formato_tela, #id_alimentacao { width: 150px; }
	#id_especificacao { width: 420px; }	
</style>
{% include 'basic/custom_required_fields.html' %}
{% include 'basic/statics.html' %}

<div style="margin-left:auto; margin-right:auto; max-width: 600px" >
	<form enctype='multipart/form-data' method='post'>
		{% csrf_token %}
	    <legend> Cadastro Principal </legend>
	    {% include 'televisor/cad_tele_form.html' %}
		<fieldset class="fieldset_off">
			<input type='submit' value='Salvar' />
			<a href="{% url 'televisor.listagem' %}" class="ui-button ui-widget ui-state-default ui-corner-all"
			style="padding: 5px">Listagem</a>
		</fieldset>
	</form>
</div>

{% if object.id %}
<iframe width="700px" height="700px" style="border:none"  src="{% url 'conexoes.listagem' %}?obj_id={{object.id}}"></iframe>
<iframe width="600px" style="border:none"  src="{% url 'tel_itens.listagem' %}?obj_id={{object.id}}"></iframe>
<iframe width="600px" style="border:none"  src="{% url 'tel_lojas.listagem' %}?obj_id={{object.id}}"></iframe>
{% endif %}

{% endblock %}

