<table style=' margin-left: auto; margin-right: auto'>    
             <tr class="specs-row">
                <td class="spec-name">Marca</td>
                <td class="spec-value"> {{ tele.marca }} </td>
            </tr>
            <tr class="specs-row">
                <td class="spec-name">Tamanho de tela</td>
                <td class="spec-value"> {{ tele.polegadas }} pol</td>
            </tr>
            <tr class="specs-row">
                <td class="spec-name">Tipo de tela</td>
                <td class="spec-value"> {{ tele.tipo_de_tela }} </td>
            </tr>
            <tr class="specs-row">
                <td class="spec-name">Resolução</td>
                <td class="spec-value"> {{ tele.resolucao }} </td>
            </tr>
            <tr class="specs-row">
                <td class="spec-name">Formato de tela</td>
                <td class="spec-value"> {{ tele.formato_tela }} </td>
            </tr>
            <tr class="specs-row">
                <td class="spec-name">Medidas (Altura x Largura x Profundidade)</td>
                <td class="spec-value">{{ tele.altura }} cm x {{ tele.largura }} cm x {{ tele.profundidade }} cm )</td>
            </tr>
            <tr class="specs-row">
                <td class="spec-name">Peso</td>
                <td class="spec-value">{{ tele.peso }} kg</td>
            </tr>
        </table>